#modal-root{
    p{
        font-size:18px;
        font-weight: 600;
        max-width: 240px;
    }
    input{
        max-width: 240px;
    }
    .box-footer{
        display: flex;
        justify-content: space-between;
    }
    
}