{
    "presets": [
        "flow",
        "@babel/preset-flow"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "containers": "./containers",
                    "components": "./components"
                }
            }
        ],
    ]
}