@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
*{
    margin:0;
    padding:0;
    font-family: 'Montserrat';
    font-weight: 400;
    max-width: 100%;
}
body{
  background-color:#FBD796;
}
.root{
    height:100%;
    width:100%;
}
.wrap-header-menu {
    list-style: none;
    padding: 25px 0 5px;
    text-align: center;
    background: black;
    ul{
        max-width: 1200px;
        margin:0 auto;
    }
    li {display: inline-block;}
    li:after {
        content: "|";
        color: #606060;
        display: inline-block;
        vertical-align:top;
    }
    li:last-child:after {content: none;}
    a {
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        letter-spacing: 2px;
        position: relative;
        padding-bottom: 20px;
        margin: 0 34px 0 30px;
        font-size: 17px;
        text-transform: uppercase;
        display: inline-block;
        transition: color .2s;
      }
    a,a:visited{
        color: #9d999d;
    }
    a.current,a:hover{
        color: #feb386;
    }
    a:before,a:after{
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
    }
    a:hover:before, .current:before{
        left:0;
    }
    a:hover:after,.current:after {
        right:0;
    }
  }
  .wrap-track-view{      
      max-width: 1200px;          
      margin:0 auto;
      display:flex;     
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

  }
  .trackView{   
    text-align: center;
    padding:30px 30px;
    img{
        width: 400px;
        height: 400px;
     }
     p{
        font-weight: 700;
        font-size:24px;
        padding: 20px 0;
      }
      button{
        margin: 10px 20px;
      }
      a{
        text-decoration: none;
      }
      a:hover, a:visited{
        color: black;
      }
  }
   .ArtistView-wrap{    
    max-width:1200px;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: top;   
    
  } 
  .ArtistView-content{   
    width:400px;
    /* height: 643px; */
    background-color:white;
    /* overflow: hidden; */
    margin: 20px 20px;
    img{
        width:75%;
        height:300px;
        margin: 20px 50px;
      }
      > p{
        text-align: center;
        padding: 20px 0;
      }
      div {
        display:flex;
        justify-content: space-between;
        margin:0 40px;
        padding: 10px 0px;
        border-top:1px solid rgba(42,42,42,0.5);
      }
      div span{
        padding-right:10px;
      }
  }
  .modal {
    background: #fff;
    left: 30%;   
    position: absolute;
    top: 40%;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out; */
    h2 {
        margin: 0;
    }
    .btn {
        float: right;
    }
}
.EditPageContainer{
  max-width: 1200px;
  margin: 0 auto;
}
.EditArtistComponent{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 30px 0;
  label {
    color:black;
  }
}
/* .EditArtistComponent input{
  width:300px;
  height:30px;
}
.EditArtistComponent button{
    height:34px;
    width:50px;
} */
/* .EditArtistComponent div{
  padding:10px 0 ;

} */
.EditTrackWrap{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width:100%;
  
}
.EditTrackComponent{
  text-align: center;
}
.EditTrackAlbumTitle{
  text-align: center;
  padding:20px 0;
  font-size:24px;
  display: flex;
  flex-direction: column;  
  align-items: center;
  p{
    padding: 0 0 10px 0;
  }
  label {
    color: black
  }
}
.EditTrackContent{
  display:flex; 
  div{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;    
  }
  div input {
    margin:0 20px;
    width: 100%;
  }
  .MuiInputLabel-outlined-71.MuiInputLabel-shrink-68 {
    transform: translate(22px, -6px) scale(0.75);
  }
  label{
    color: black
  }
}
.EditTrackLengthInput{
  width: 60px!important;
}
.editPageInput {
    .MuiInputLabel-outlined-11.MuiInputLabel-shrink-8 {
  transform: translate(23px, -6px) scale(0.75)!important;
  }
  textarea {
    margin:10px!important;
  }
}
.editPageButton{
  margin: 30px 0!important;
}
.editPageAlbumInput {
    .MuiInputLabel-outlined-11.MuiInputLabel-shrink-8{
  transform: translate(12px, -6px) scale(0.75)!important;
}
}
.editPageArtistInput {
    .MuiInputLabel-outlined-11.MuiInputLabel-shrink-8{
  transform: translate(12px, -6px) scale(0.75)!important;
}
}
.AddPageWrap{
  width:100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.NewArtistViewContent{   
  width:400px;
  min-height: 443px;
  background-color:white;
  /* overflow: hidden; */
  img{
    width:75%;
    height:300px;
    margin: 20px 50px;
  }
  > p{
    text-align: center;
    padding: 20px 0;
  }
  div {
    display:flex;
    justify-content: space-between;
    margin:0 40px;
    padding: 10px 0px;
    border-top:1px solid rgba(42,42,42,0.5);
  }
  div span{
    padding-right:10px;
  }
}
.AddPageInputs{
  display: flex;
  flex-direction: column;
}
.InputLength{
  background-color: #E4C488;  
  margin-bottom: 8px;
  padding: 6px 10px 7px 10px;
}

