@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
*{
    margin:0;
    padding:0;
    font-family: 'Montserrat';
    font-weight: 400;
    max-width: 100%;
}
body{
  background-color:#FBD796;
}
.root{
    height:100%;
    width:100%;
}
.wrap-header-menu {
    list-style: none;
    padding: 25px 0 5px;
    text-align: center;
    background: black;
  }
  .wrap-header-menu ul{
    max-width: 1200px;
    margin:0 auto;
  }
  .wrap-header-menu li {display: inline-block;}
  .wrap-header-menu li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
  }
  .wrap-header-menu li:last-child:after {content: none;}
  .wrap-header-menu a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
  }
  .wrap-header-menu a, .wrap-header-menu a:visited {color: #9d999d;}
  .wrap-header-menu a.current, .wrap-header-menu a:hover{color: #feb386;}
  .wrap-header-menu a:before,
  .wrap-header-menu a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
  }
  .wrap-header-menu a:hover:before, .wrap-header-menu .current:before {left: 0;}
  .wrap-header-menu a:hover:after, .wrap-header-menu .current:after {right: 0;}   
  @media (max-width: 550px) {
  .wrap-header-menu {padding-top: 0;}
  .wrap-header-menu li {display: block;}
  .wrap-header-menu li:after {content: none;}
  .wrap-header-menu a {
    padding: 25px 0 20px; 
    margin: 0 30px;
  }
  }
  .wrap-track-view{      
      max-width: 1200px;          
      margin:0 auto;
      display:flex;     
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

  }
  .trackView{   
    text-align: center;
    padding:30px 30px;
    
  }
  .trackView img{
     width: 400px;
     height: 400px;
  }
  .trackView p{
    font-weight: 700;
    font-size:24px;
    padding: 20px 0;
  }
  .trackView button{
    margin: 10px 20px;
  }
  .trackView a{
    text-decoration: none;
  }
  .trackView a:hover, a:visited{
    color: black;
  }
  .ArtistView-wrap{    
    max-width:1200px;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: top;   
    
  } 
  .ArtistView-content{   
    width:400px;
    height: 643px;
    background-color:white;
    /* overflow: hidden; */
  }
  .ArtistView-content img{
    width:75%;
    height:300px;
    margin: 20px 50px;
  }
  .ArtistView-content > p{
    text-align: center;
    padding: 20px 0;
  }
  .ArtistView-content div {
    display:flex;
    justify-content: space-between;
    margin:0 40px;
    padding: 10px 0px;
    border-top:1px solid rgba(42,42,42,0.5);
  }
  .ArtistView-content div span{
    padding-right:10px;
  }
  .modal {
    background: #fff;
    left: 30%;   
    position: absolute;
    top: 40%;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}



.modal h2 {
    margin: 0;
}
.modal .btn {
    float: right;
}
.EditPageContainer{
  max-width: 1200px;
  margin: 0 auto;
}
.EditArtistComponent{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 30px 0;
}
/* .EditArtistComponent input{
  width:300px;
  height:30px;
}
.EditArtistComponent button{
    height:34px;
    width:50px;
} */
/* .EditArtistComponent div{
  padding:10px 0 ;

} */
.EditTrackWrap{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width:100%;
  
}
.EditTrackComponent{
  text-align: center;
}
.EditTrackAlbumTitle{
  text-align: center;
  padding:20px 0;
  font-size:24px;
  display: flex;
  flex-direction: column;  
  align-items: center;
}
.EditTrackAlbumTitle p{
  padding: 0 0 10px 0;
}
.EditTrackContent{
  display:flex;
}
.EditTrackContent div{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.EditTrackContent div input {
  margin:0 20px;
  width: 100%;
}
.EditTrackLengthInput{
  width: 60px!important;
}
.editPageInput .MuiInputLabel-outlined-11.MuiInputLabel-shrink-8 {
  transform: translate(23px, -6px) scale(0.75)!important;
}
.editPageInput textarea {
  margin:10px!important;
}
.editPageButton{
  margin: 30px 0!important;
}
.editPageAlbumInput .MuiInputLabel-outlined-11.MuiInputLabel-shrink-8{
  transform: translate(12px, -6px) scale(0.75)!important;
}

.editPageArtistInput .MuiInputLabel-outlined-11.MuiInputLabel-shrink-8{
  transform: translate(12px, -6px) scale(0.75)!important;
}